* {
    box-sizing: border-box;
}

.landing-bg {
    margin: 0;
    height: 100vh;
    background-color: #E4F4FF;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.logo {
    max-height: 256px;
    border: 3px solid #023663;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav .brand-logo {
    color: #023663;
    font-family: 'Brush Script MT', cursive;
}

nav a {
    color: #023663;
}

.nav-wrapper {
    background-color: white;
}

.title {
    color: #023663;
    font-family: 'Brush Script MT', cursive;
}

.sign-up-form {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.button {
    border: 2px solid #023663;
    border-radius: 50px;
    font-family: 'Brush Script MT', cursive;
    color: #023663;
    background-color: #E1A45C;
}

.button:hover {
    background-color: #96D1E4;
}

.existing-user {
    font-size: 0.75rem;
    margin-top: 1rem;
    text-align: center;
}

.db-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90vh;
}

.db-data {
    text-transform: capitalize;
    margin: 1rem;
}

.db-item {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.page-content-container {
    height: 90vh;
}

.db-bike-data {
    color: #023663;
    text-transform: capitalize;
    background-color: #d9d9d9;
    border-radius: 2px;
    margin: 1rem 0.5rem;
    padding: 1rem;
}

.db-bike-data-bg {
    background-color: #E4F4FF;
    border: #023663 1px solid;
    border-radius: 5px;
}

.db-item a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    color: #023663;
}

a {
    color: #023663;
    display: contents;
}

.input-field>label.my-label {
    color: #023663;
}

.hidden-menu {
    color: #023663;
    cursor: pointer;
}

.hidden {
    display: none;
}

.modal-buttons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.modal-button {
    margin-right: 5px;
    margin-top: 5px;
}

.delete-button {
    border: 2px solid #023663;
    border-radius: 50px;
    font-family: 'Brush Script MT', cursive;
    color: #023663;
    background-color: #E3817F;
}

.delete-button:hover {
    color: #023663;
    background-color: #FF998E;
    transition: all 0.2s ease-out;
}