{% extends "logged-in.html" %}
{% block content %}

    <div class="db-info-container row">
        <div class="db-collection col s12 m6 offset-m3 l4 offset-l4">
            <h3>{{ bike.manufacturer.title() }} {{ bike.model.title() }}</h3>
            <ul class="collection">
                <!-- iterates over mongo document items -->
                {% set ignored_fields = ['user_id'] %}
                {% for key, value in bike.items() %}
                    {% if key not in ignored_fields %}
                        {% if value is mapping %}
                            {% for sub_key, sub_value in value.items() %}
                                {% if sub_value %}
                                    <li class="collection-item db-item">
                                        {{ sub_key.replace('_', ' ').title() }}: {{ sub_value.replace('_', ' ').title() }}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% if key != '_id' and value %}
                                <li class="collection-item db-item">
                                    {{ key.replace('_', ' ').title() }}: {{ value.replace('_', ' ').title() }}
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
            <div class="row">
                <a href="{{ url_for('edit_bike', bike_id=bike._id) }}" class="col s6 btn-large button">Edit Bike</a>
                <a class="modal-trigger col s6 btn-large button delete-button" href="#modal1">Delete Bike</a>
            </div>
        </div>
    </div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Are you sure?</h4>
            <p>This will permanently remove this bike and cannot be undone!</p>
            <div class="modal-buttons-container">
                <a href="{{ url_for('my_bike_shed') }}"
                    class="btn-large button modal-button">Cancel</a>
                <a href="{{ url_for('delete_bike', bike_id=bike._id) }}"
                    class="btn-large button modal-button delete-button">Delete</a>
            </div>
        </div>
    </div>

{% endblock %}

