{% extends "logged-in.html" %}
{% block content %}

    <div class="db-info-container row">
        <div class="db-collection col s12 m6 offset-m3 l4 offset-l4">
            <ul class="collection">
                {% for bike in my_bike_shed %}
                    <li class="collection-item db-item">
                        <a href="{{ url_for('my_bike', bike_id=bike._id) }}">
                            {% if bike.bike_category == 'mountain' %}
                                <i class="fa-solid fa-mountain-sun circle"></i>
                            {% elif bike.bike_category == 'road' %}
                                <i class="fa-solid fa-road"></i>
                            {% elif bike.bike_category == 'gravel' %}
                                <i class="fa-solid fa-road-circle-xmark"></i>
                            {% elif bike.bike_category == 'e-mtb' %}
                                <i class="fa-solid fa-bolt"></i>
                            {% else %}
                                <i class="fa-solid fa-person-biking"></i>
                            {% endif %}
                            <p class="db-data">{{ bike.manufacturer }} {{ bike.model }}</p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div>
            <a href="{{ url_for('add_bike') }}" class="col s8 offset-s2 m4 offset-m4 l2 offset-l5 btn-large button">
                Add Bike
            </a>
        </div>
    </div>

{% endblock %}