{% extends "logged-in.html" %}
{% block content %}

    <div class="db-info-container row">
        <div class="db-collection col s12 m6 offset-m3 l4 offset-l4 ">
            <ul class="collection">
                <li class="collection-item db-item">
                    <i class="fa-regular fa-prefix fa-circle-user small"></i>
                    <p class="db-data">{{ username }}</p>
                </li>
                <li class="collection-item db-item">
                    <i class="fa-solid fa-image-portrait small"></i>
                    <p class="db-data">{{ name }}</p>
                </li>
                <li class="collection-item db-item">
                    <i class="fa-solid fa-mobile-screen small"></i>
                    <p class="db-data">{{ phone }}</p>
                </li>
                <li class="collection-item db-item">
                    <i class="fa-solid fa-envelope small"></i>
                    <p class="db-data">{{ email }}</p>
                </li>
                <li class="collection-item db-item">
                    <i class="fa-solid fa-weight-scale small"></i>
                    <p class="db-data">{{ weight }}</p>
                </li>
            </ul>
        </div>

        <div>
            <a href="{{ url_for('my_bike_shed') }}" class="col s8 offset-s2 m4 offset-m4 l2 offset-l5 btn-large button">
                My Bike Shed
            </a>
        </div>
    </div>

{% endblock %}